mat-toolbar {
  background-color: #3f51b5;
  color: white;
  height: 64px;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


mat-toolbar span:first-child {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-right: 24px;
}


mat-toolbar button {
  color: white;
  font-weight: 500;
  margin: 0 8px;
}


.spacer {
  flex: 1 1 auto;
}
